.csbe-editor:focus-visible,
.csbe-editor *:focus-visible {
	outline: none;
}

.csbe-block {
	min-height: 1lh;
}

.csbe-paragraph:empty::before {
	content: "New paragraph";
	opacity: 0.6;
	pointer-events: none;
}

.csbe-paragraph:empty:focus::before {
	content: "";
}

.csbe-image {
	display: block;
	max-width: 100%;
	cursor: default;
	outline: 2px solid transparent;
	position: relative;
}

.csbe-image:focus {
	filter: sepia(100%) hue-rotate(215deg) saturate(200%);
	outline: 2px solid blue;
}

.csbe-editor code {
	white-space: break-spaces;
	background-color: #818b981f;
	border-radius: 6px;
	margin: 0;
	padding: .2em .4em;
	font-size: 85%;
}
